body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(130deg,#ff7e5f, #feb47b);
    padding: 10px;
}
.todolist{
    width: 100%;
    background: whitesmoke;
    margin: 100px auto 20px;
    max-width: 650px;
    padding: 30px 50px 70px;
    border-radius: 20px;
}
.todolist h2{
    color:blue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todolist h2 img{
    width: 35px;
    margin: 10px;
}
.row{
    background: rgb(180, 178, 178);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 25px;
    margin-bottom: 25px;
}
input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-weight: bolder ;
}
button{
    background-color: #feb47b;
    color: white;
    border:none;
    outline: none;
    padding: 13px;
    border-radius: 20px;
    width: 110px;
    cursor: pointer;
    font-size: large;
}
ul li{
    font-size: larger;
    padding: 10px 8px 10px 50px;
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    display: block;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
ul li::before{
    content: '';
    display: inline-block;
    background-image: url('images/unchecked.png');
    height: 28px;
    width: 28px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}


ul li.checked{
    color: magenta;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('images/checked.png');
}
ul li span{
   position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    font-size: 22px;
    color: red;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    
}
ul li span:hover{
    background-color:lightpink;
    border-radius: 50px;
}